<!doctype html>
<html lang="en">
<head>
	{{@include("header")/}}
</head>
<body hx-boost="true">
<main class="min-h-screen min-w-screen flex flex-col md:flex-row">
	<section class="hidden w-full h-full lg:flex min-w-[50vw] min-h-screen bg-[#5755ff] items-center justify-center">
		<h3 class="fw-bold text-[5rem] text-white leading-[90%]	">Welcome <br/> Back !</h3>
	</section>
	<section class="w-full h-full flex flex-col min-w-[50vw] min-h-screen items-center justify-center" id="right-column">
		<div class="flex flex-col max-w-[600px]">
			<h2 class="px-5 mb-10 text-5xl align-left text-[#0e0d35]">Login</h2>

			<form hx-post="/auth/login" hx-ext='json-enc' class="px-5" hx-target="body" hx-replace-url="true">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" class="w-full p-4 mb-4 border-2 border-[#5755ff] rounded-md" placeholder="Email" required>
				<label for="password">Password</label>
				<input type="password" name="password" id="password" class="w-full p-4 mb-4 border-2 border-[#5755ff] rounded-md" placeholder="Password" required>

				<button type="submit" class=" w-full px-[30px] py-[15px] text-lg rounded text-white bg-[#8988ff] transition hover:bg-[#abaaff]">Login</button>
			</form>

			<div class="flex flex-row my-5 px-5 w-full">
				<span class="text-[#0e0d35]">new User? <a href="/auth/register" hx-target="#right-column"  class="text-[#565672] transition hover:opacity-75">Create an account</a></span>

				<a href="/auth/forgot-password" hx-target="#right-column" class="ml-auto text-[#5755ff] transition hover:opacity-75">Forgot Password</a>
			</div>
		</div>
	</section>
</main>
</body>
</html>
