<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://cdn.tailwindcss.com"></script>
<script src="/static?file=js/htmx.js"></script>
<script src="/static?file=js/json-enc.js"></script>
<script src="/static?file=js/hyperscript.js"></script>
<link rel="icon" href="/static?file=favicon.ico" type="image/x-icon">
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<title>H-Link</title>
